<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <title>IRTIS Annotation tool - xlsx generation (download)</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2 mb-5">xlsx generation (download)</h1>

    <form class="row justify-content-center" id="land-page-form" action="/{{superuser}}/stats" method="POST">
      <button id="xlsx-export" type="submit" class="btn btn-primary mr-3" formaction="/{{superuser}}/admin/xlsxGeneration/DownloadXlsx" value="xslx">Xslx full annotation download</button>
      <button id="csv-export" type="submit" class="btn btn-primary mr-3" formaction="/{{superuser}}/admin/xlsxGeneration/DownloadCsv" value="csv">Csv annotation download</button>
      <button id="xlsx-generation" type="submit" class="btn btn-primary mr-3" formaction="/{{superuser}}/admin/xlsxGeneration" value="xlsx">Go back to annotation files generation</button>
      <button id="admin" type="submit" class="btn btn-primary mr-3" formaction="/{{superuser}}/admin" value="xlsx">Go to admin page</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>