<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <title>IRTIS Annotation tool - xlsx generation</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2 mb-5">xlsx generation</h1>

    <form id="generation-form" action="/{{superuser}}/admin/xlsxGeneration/Generate" method="POST">
      <div class="row mt-5">
        <div class="col col-md-3 text-center">
          <h2 class="mb-5">Select burst</h2>
          <select class="custom-select ml-3" name="burst" id="burst">
            {% for bursts in burst_list %}
              <option value="{{bursts[0]}}">ID: {{bursts[0]}} Conversations: {{bursts[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col col-md-6 text-center">
          <h2 class="mb-5">Select tagset</h2>
          <select name="tagset" id="tagset" class="custom-select">
            {% for tagsets in tagset_list %}
              <option value="{{tagsets[0]}}">ID: {{tagsets[0]}} Tags: {{tagsets[1]}}</option>
            {% endfor %}
          </select>
        </div>
        <div id="users" class="col col-md-3">
          <h2 class="mb-5">Select users</h2>
            {% for users in users_list %}
              <div class="form-check burst_{{users[3]}} tagset_{{users[4]}}">
                <input type="checkbox" id="{{users}}" class="form-check-input" name="users" value="{{users[0]}}_{{users[2]}}" />
                <label class="form-check-label" for="{{users}}">{{users[0]}} - {{users[1]}} ({{users[5][0]}})</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col col-md-3">
          <div class="form-check ml-5">
            <input class="form-check-input" type="checkbox" name="question_check" id="question_check" value="True" checked>
            <label class="form-check-label" for="question_check">
              Generate tags with question mark?
            </label>
          </div>
        </div>
        <div class="col col-md-6 text-center">
          <button id="generate-button" type="submit" class="btn btn-primary btn-lg btn-block mr-3" value="export">Generate</button>
        </div>
      </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin_xlsx_generation.js') }}"></script>
  </body>
</html>