<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <title>IRTIS Annotation tool - Administration statistics</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2">Statistics about annotations</h1>

    <div class="row mt-5">
      <div class="col col-md-1"></div>
      <div class="col col-md-10">
        <table id="data" class="table table-bordered table-sm dataTable no-footer">
          <thead>
            <tr>
              <th class="text-center th-sm">User</th>
              <th class="text-center th-sm">Hash</th>
              <th class="text-center th-sm">Real data</th>
              <th class="text-center th-sm">Burst</th>
              <th class="text-center th-sm">TagSet</th>
              <th class="text-center th-sm">Status</th>
              <th class="text-center th-sm">Start time</th>
              <th class="text-center th-sm">Finish time</th>
              <th class="text-center th-sm">Lines</th>
              <th class="text-center th-sm">Work time</th>
              <th class="text-center">Fully annotated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for user, hash, assignment, is_real, burst, tagset, status, color, start, finish, lines, time, fully in data %}
            <tr>
              <td class="text-center align-middle">{{ user }}</td>
              <td class="text-center align-middle">{{ hash }}</td>
              <td class="text-center align-middle {{ 'table-success' if is_real == 'True' else 'table-danger' }}">{{ is_real }}</td>
              <td class="text-center align-middle">{{ burst }}</td>
              <td class="text-center align-middle">{{ tagset }}</td>
              <td class="text-center align-middle table-{{color}}">{{ status }}</td>
              <td class="text-center align-middle">{{ start }}</td>
              <td class="text-center align-middle">{{ finish }}</td>
              <td class="text-center align-middle">{{ lines }}</td>
              <td class="text-center align-middle">{{ time }}</td>
              <td class="text-center align-middle">{{ fully }}</td>
              <td>
                {% if status != 'Active' %}
                  <form class="row justify-content-center" id="assignment-form" action="/{{superuser}}/stats" method="POST">
                    <input name="user" type="text" value="{{hash}}" hidden />
                    <input name="assignment" type="text" value="{{assignment}}" hidden />
                    <button type="submit"
                        class="btn btn-outline-primary waves-effect waves-light">Details
                    </button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col col-md-1"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
  </body>
</html>