<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <title>IRTIS Annotation tool - Finish assignment</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2">Finish a assignment</h1>

    <h2 class="justify-content-center text-center mt-5">Choose your action:</h2>
    <div class="row mt-3">
      <div class="col col-md-3"></div>
      <div class="col col-md-6">
        <form class="row justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg btn-block" formaction="/{{user}}/{{assignment}}/0/FinishAssignment">Finish assignment</button>
          <button type="submit" class="btn btn-secondary btn-lg btn-block" formaction="/{{user}}/{{assignment}}/0">Go back to first conversation</button>
          <button type="submit" class="btn btn-secondary btn-lg btn-block" formaction="/{{user}}/{{assignment}}/{{last_index}}">Go back to last conversation</button>
          <button type="submit" class="btn btn-secondary btn-lg btn-block" formaction="/{{user}}/{{assignment}}/{{last_incomplete}}">Go back to last incomplete conversation</button>
        </form>

        <h2 class="justify-content-center text-center mt-5">Stats:</h2>

        <table id="data" class="table table-bordered table-sm dataTable">
          <thead>
            <tr>
              <th class="text-center th-sm">Index</th>
              <th class="text-center th-sm">User</th>
              <th class="text-center th-sm">Thread</th>
              <th class="text-center th-sm">Conv.</th>
              <th class="text-center">Lines annotated/total</th>
              <th class="text-center">Link to conversation</th>
            </tr>
          </thead>
          <tbody>
          {% for index, my_user, my_thread, my_conv, _, _, anot, total, _, _ in not_annotated %}
            <tr>
              <td class="text-center align-middle">{{ index }}</td>
              <td class="text-center align-middle">{{ my_user }}</td>
              <td class="text-center align-middle">{{ my_thread }}</td>
              <td class="text-center align-middle">{{ my_conv }}</td>
              <td class="text-center align-middle {{ 'bg-success' if is_full else 'bg-danger' if anot == 0 else 'bg-warning' }}">{{ anot ~ "/" ~ total }}</td>
              <td class="text-center align-middle"><a href="/{{ user ~ '/' ~ assignment ~ '/' ~ index }}" class="mr-2" >link_to_conversation_{{ index }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col col-md-3"></div>
    </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>