<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <title>IRTIS Annotation tool - Annotation</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2">Conversation:
      {{ source_ids[0] ~ " - " ~ source_ids[1] ~ " - " ~ source_ids[2] ~
      " (" ~ (index|int + 1) ~ "/" ~ annots ~ ")" }} </h1>

    <div class="container">
      <div class="row">
        <div id="left-container" class="{{ 'col-lg-12' if hidden else 'col-lg-9' }}">
          <div id="upper-buttons" class="d-flex justify-content-center mt-4 mb-4">
            {% for i in range(tags|length) %}
            <button type="button" id="tag_{{ tags[i][0] }}" value="{{tags[i][1]}}"
                class="btn btn-secondary mr-3">
              {{ tags[i][1] ~ " (" ~ i ~ ")" }}
            </button>
            {% endfor %}
          </div>
          <form id="table-form" action="/{{ user }}/{{ assignment }}/{{ index }}/SaveDataToJson/{{ index|int + 1 }}" method="post">
            <div id="table-container" class="table-wrapper-scroll-y my-custom-scrollbar overflow-auto mt-2 ml-3">
              <table id="data" class="table table-bordered table-striped table-sm mb-0 resizable">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Line</th>
                    <th scope="col" class="text-center">Tag</th>
                  </tr>
                </thead>

                {% for prev_string in previous %} <!-- previous strings -->
                  <tbody class="prev_data" hidden>
                    {% for entry in prev_string %}
                      <tr {% if "OWNER" is in entry %} class="owner" {% endif %}>
                        <td></td><td>{{entry}}</td><td></td>
                      </tr>
                    {% endfor %}
                    <tr class="empty-line"><td>&nbsp;</td><td></td><td></td></tr>
                    <tr class="empty-line"><td>&nbsp;</td><td></td><td></td></tr>
                  </tbody>
                {% endfor %}

                <tbody id="main">
                  {% for i in range(result|length) %} <!-- annotable strings -->
                    <tr {% if "OWNER" is in result[i] %} class="owner" {% endif %}>
                      <th scope="row"> {{ i + 1 }}</th>
                      <td> {{ result[i] }}</td>
                      <td class="annotation">
                        <input class="annotation" type="text" readonly name="{{ i + 1 }}"
                               value="{{loaded_tags[(i + 1)|string]}}" />
                        <select hidden class="annotation ml-2" name="{{extended_tag ~ (i + 1)|string}}">
                            <option class="annotation" value=""></option>
                            {% for j in range(tags|length) %}
                              {% for entry in tags[j][2] %}
                                <option class="annotation tag_{{tags[j][0]}}"  value="{{entry}}"
                                {% if loaded_tags[extended_tag~(i+1)|string] == entry %} selected {% endif %}
                                >
                                  {{ entry }}
                                </option>
                              {% endfor %}
                            {% endfor %}
                        </select>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>

                {% for prev_string in following %} <!-- following strings -->
                  <tbody class="follow_data" hidden>
                    <tr class="empty-line"><td>&nbsp;</td><td></td><td></td></tr>
                    <tr class="empty-line"><td>&nbsp;</td><td></td><td></td></tr>
                    {% for entry in prev_string %}
                      <tr {% if "OWNER" is in entry %} class="owner" {% endif %}>
                        <td></td><td>{{entry}}</td><td></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            <div id="lower-buttons" class="d-flex justify-content-center mt-4 mb-4">
              <button id="previous-button" {% if previous|length == 0 %} disabled {% endif %} type="button" class="btn btn-secondary mr-3">Previous</button>
              <button id="reset-button" disabled type="button" class="btn btn-secondary mr-3">Reset</button>
              <button id="following-button" {% if following|length == 0 %} disabled {% endif %} type="button" class="btn btn-secondary mr-3">Following</button>
              <button id="back_button" type="submit" formaction="/{{ user }}/{{ assignment }}/{{ index }}/GoBackAction"
                  class="btn btn-primary mr-3" value="back"
                    {% if index == "0" %} disabled {% endif %}>Go back</button>
              <button id="stop_button" type="submit" formaction="/{{ user }}/{{ assignment }}/{{ index }}/StopAction"
                  class="btn btn-secondary mr-3" value="stop">Stop Annotation</button>
              <button id="finish_button" type="submit" formaction="/{{ user }}/{{ assignment }}/{{ index }}/SaveDataToJson/{{ annots }}"
                  class="btn btn-secondary mr-3" value="stop">Finish burst</button>
              <button id="save_data_button" type="submit" class="btn btn-primary mr-3" value="save">Save this conversation and load next one</button>
              <button id="show-button" type="button" {% if not hidden %} hidden {% endif %} class="btn btn-secondary mr-3">Show manual</button>
            </div>
            <div id="footer" class="d-flex justify-content-center mt-4">
              <div class="row justify-content-center">
                <div>
                  {% for i in range(10, annots, 10) %}
                    <a href="/{{ user ~ '/' ~ assignment ~ '/' ~ (i|int - 1) }}" class="mr-2" >{{ i }}</a>
                    {% if i % 150 == 0 %} </div><div> {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <input readonly type="text" hidden name="is-hidden" value="{{hidden}}" />
          </form>
        </div>
        <div id="right-container" class="col-lg-3 mt-4 pt-2 border" {% if hidden %} hidden {% endif %}>
          <div id="manual-buttons" class="d-flex justify-content-center mb-4">
            <button id="enlarge-button" type="button" class="btn btn-secondary mr-3">Enlarge</button>
            <button id="hide-button" type="button" class="btn btn-secondary mr-3">Hide</button>
          </div>
          <div id="manual-container">
            <div id="manual">{{manual|safe}}</div>
          </div>

          <form action="/foo" method="post">
            <button type="submit" class="btn" value="Send Email" />
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jQuery.resizableColumns.min.js') }}"></script>

  <script>
    $('table.resizable').resizableColumns();
  </script>
  </body>
</html>