<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.muni.cz/media/3113744/e.ico">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
    <title>IRTIS Annotation tool - Statistics</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2">Statistics for User {{ user }}, Assignment {{ assignment}}</h1>

    <div class="row mt-5">
      <div class="col col-md-1"></div>
      <div class="col col-md-10">
        <form class="row justify-content-center" id="assignment-form">
          <table id="data" class="table table-bordered table-sm dataTable">
            <thead>
              <tr>
                <th class="text-center th-sm">Index</th>
                <th class="text-center th-sm">User</th>
                <th class="text-center th-sm">Thread</th>
                <th class="text-center th-sm">Conv.</th>
                <th class="text-center th-sm">Opened (times)</th>
                <th class="text-center th-sm">Closed (times)</th>
                <th class="text-center">Lines annotated/total</th>
                <th class="text-center th-sm">Time spent (secs)</th>
                <th class="text-center">Fully annotated</th>
              </tr>
            </thead>
            <tbody>
            {% for index, user, thread, conv, open, finish, anot, total, time, is_full in data %}
              <tr>
                <td class="text-center align-middle">{{ index }}</td>
                <td class="text-center align-middle">{{ user }}</td>
                <td class="text-center align-middle">{{ thread }}</td>
                <td class="text-center align-middle">{{ conv }}</td>
                <td class="text-center align-middle">{{ open }}</td>
                <td class="text-center align-middle">{{ finish }}</td>
                <td class="text-center align-middle {{ 'bg-success' if is_full else 'bg-danger' if anot == 0 else 'bg-warning' }}">{{ anot ~ "/" ~ total }}</td>
                <td class="text-center align-middle">{{ time }}</td>
                <td class="text-center align-middle {{ 'bg-success' if is_full else 'bg-danger' }}">{{ is_full }}</td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              {% for entry in footer %}
                <td class="text-center align-middle">{{entry}}</td>
              {% endfor %}
            </tfoot>
          </table>
        </form>
      </div>
      <div class="col col-md-1"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
  </body>
</html>