<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://cdn.muni.cz/media/3113744/e.ico">
    <title>IRTIS Annotation tool - Assignments</title>
  </head>
  <body>
    <h1 class="justify-content-center text-center pt-2">User: {{ user }}</h1>
    <h2 class="justify-content-center text-center mt-3">Please select your
      assignment:</h2>

    <div class="row mt-5">
      <div class="col col-md-4"></div>
      <div class="col col-md-4">
        <form class="row justify-content-center" id="assignment-form"
              action="/{{ user }}" method="post">
          {% for i in range(all_statuses|length) %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="defaultCheck{{i}}" value="{{all_statuses[i]}}" {% if i < all_statuses|length - 1 %} checked {% endif %}>
              <label class="form-check-label mr-4" for="defaultCheck{{i}}">{{ all_statuses[i] }}</label>
            </div>
          {% endfor %}
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Assignment</th>
                <th class="text-center">Burst</th>
                <th class="text-center">TagSet</th>
                <th class="text-center">Status</th>
                <th class="text-center">Start time</th>
                <th class="text-center">Finish time</th>
              </tr>
            </thead>
            <tbody>
            {% for i in range(assignments|length) %}
              <tr {% if statuses[i][0] == all_statuses[all_statuses|length - 1] %} hidden {% endif %}>
                <td>
                  <button type="submit" formaction="/{{ user }}/{{ assignments[i][0] }}"
                      class="btn btn-primary btn-lg btn-block">{{ assignments[i][0] }}
                  </button>
                </td>
                <td class="text-center align-middle">{{ assignments[i][1] }}</td>
                <td class="text-center align-middle">{{ assignments[i][2] }}</td>
                <td class="text-center align-middle status">{{ statuses[i][0] }}</td>
                <td class="text-center align-middle">{{ statuses[i][1] }}</td>
                <td class="text-center align-middle">{{ statuses[i][2] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
      <div class="col col-md-4"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='user.js') }}"></script>
  </body>
</html>