html, body, div.container, div.row, div#left-container, #table-form {
    height: 100%;
}

.highlighted :not(.annotation) {
    background-color: BurlyWood;
}

.owner:nth-child(even):not(.highlighted) :not(.annotation) {}

.owner:nth-child(odd):not(.highlighted) :not(.annotation) {}

.my-custom-scrollbar {
    position: relative;
    max-height: 60%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

div#right-container {
    position: relative;
    height: 75%;
    overflow: auto;
}

.container {
    max-width: 90%;
}

input {
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

td.annotation {
    min-width: 310px;
}

input {
    min-width: 260px;
}